In [1]:
#Tarefa.
#Passo1: importar a base de dados.
#Passo2:Atualizar a base de dados usando o selenium.
#Passo3: exportar a base de dados atualizada.
#Para o selenium funcionar ele precisa do webdriver.
#O selenium controla o navegador. Só dá para usar o selenium se tiver instalado o webdriver.
#Chrome - > chromedriver.
#Firefox - > geckodriver.
#Pesquisar no google chromedriver ou geckodriver e instalar de acordo com a versão do seu chrome ou firefox.

In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\jjosi\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio~=0.17 in c:\users\jjosi\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\jjosi\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\jjosi\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\jjosi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sniffio in c:\users\jjosi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\jjosi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\jjosi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\jjosi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\jjosi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\jjosi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\jjosi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: outcome in c:\users\jjosi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\jjosi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\jjosi\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\jjosi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\jjosi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
#Quando você instala o chromedriver, ele precisa ficar guardado na mesma pasta que o Python está.
#Depois de intalar o selenium, basta olhar na primeira linha a localização do Python no seu computador.
#Neste caso, por exemplo, localização: c:\users\jjosi\anaconda3
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
#As linhas de código a seguir são para caso queira que as automações rodem em segundo plano, sem o chrome aparecer.
#from selenium.webdriver.chrome.options import Options
#chrome_options = Options()
#chrome_options.headless = True
#navegador = webdriver.Chrome(options = chrome_options)
navegador = webdriver.Chrome()
navegador.get("https://www.google.com.br/?hl=pt-BR")
#As aspas no código a seguir são aspas simples. 
#Para identificar o xpath dentro do site:
#Clicar com o botão direito do mouse, inspecionar, clicar na setinha que está no canto superior esquerdo da pasta que apareceu
#Selecionar com a seta a região, levar o cursor onde está azul, botão direito, copy, copy xpath.
navegador.find_element('xpath','//*[@id="APjFqb"]').send_keys("Cotação Dólar")
#Caso quisesse apenas clicar na região o código seria navegador.find_element('xpath'/'//*[@id="APjFqb"]').click
#Mas neste caso queremos escrever na região, por isso fica .send_keys
#Para clicar em alguma tecla do teclado, precisamos do common.keys
navegador.find_element('xpath','//*[@id="APjFqb"]').send_keys(Keys.ENTER)
#Pegando apenas o número da região selecionada.
navegador.find_element('xpath','//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
cotacao_dolar = navegador.find_element('xpath','//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_dolar)
navegador.get("https://www.google.com.br/?hl=pt-BR")
navegador.find_element('xpath','//*[@id="APjFqb"]').send_keys("Cotação Euro")
navegador.find_element('xpath','//*[@id="APjFqb"]').send_keys(Keys.ENTER)
navegador.find_element('xpath','//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
cotacão_euro = navegador.find_element('xpath','//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacão_euro)
navegador.get("https://www.melhorcambio.com/ouro-hoje")
navegador.find_element('xpath','//*[@id="comercial"]').get_attribute('value')
cotacão_ouro = navegador.find_element('xpath','//*[@id="comercial"]').get_attribute('value')
print(cotacão_ouro)

5.4292
5.929500780000001
421,75

In [4]:
#Se o número tiver casa decimal, o python só consegue fazer a conta com esse número de tiver um ponto em vez da vírgula.
#Vamos resolver isso no caso da cotação do ouro.
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
navegador = webdriver.Chrome()
navegador.get("https://www.melhorcambio.com/ouro-hoje")
navegador.find_element('xpath','//*[@id="comercial"]').get_attribute('value')
cotacão_ouro = navegador.find_element('xpath','//*[@id="comercial"]').get_attribute('value')
cotacão_ouro = cotacão_ouro.replace(",",".")
print(cotacão_ouro)
#Caso queira que o navegador feche depois que o selenium executar o código:
#navegador.quit()

421.75

In [9]:
import pandas as pd
tabela = pd.read_excel(r"C:\Users\jjosi\Downloads\Base Atualizada 2.xlsx")
tabela.drop(columns = ['Unnamed: 7','Unnamed: 8','Unnamed: 9'], inplace = True)
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de compra,Margem,Preço de Venda
0,Câmera Canon,345,Dólar,5.12,1766.40,1,1766.40
1,Câmera Sam,432,Euro,6.15,2656.80,4,10627.20
2,Iphone 12,456,Dólar,5.12,2334.72,2,4669.44
3,Iphone 8,4332,Dólar,5.12,22179.84,3,66539.52
4,Samsung s20,234,Dólar,5.12,1198.08,2,2396.16
5,Moto g8,455,Dólar,5.12,2329.60,1,2329.60
6,Lg sk,432,Euro,6.15,2656.80,4,10627.20
7,Iphone 8,2334,Dólar,5.12,11950.08,2,23900.16
8,Jóia B,36,Ouro,312.00,11232.00,3,33696.00
9,Câmera Pro,76,Euro,6.15,467.40,2,934.80
10,Câmera M,5445,Dólar,5.12,27878.40,1,27878.40
11,Tv 32 Sam,775,Euro,6.15,4766.25,4,19065.00
12,Tv 43 Lg,4324,Dólar,5.12,22138.88,2,44277.76
13,Iphone 8,5764,Dólar,5.12,29511.68,3,88535.04
14,Jóia A,20,Ouro,312.00,6240.00,2,12480.00
15,Tv Sam 50,344,Euro,6.15,2115.60,1,2115.60
16,Tv Sam 60,565,Euro,6.15,3474.75,4,13899.00
17,Iphone XR,3334,Dólar,5.12,17070.08,2,34140.16

In [15]:
#Alterando a coluna cotação
#Cotação dólar
#O código a seguir quer dizer que sempre que a coluna moeda for igual ao texto dólar, a coluna cotação vai ser igual a cotacão_dolar.
#Adicionei float antes de cotacão_dolar só para garantir que o formato vai ser em número. 
tabela["Moeda"] == "Dólar"
tabela.loc[tabela["Moeda"] == "Dólar","Cotação"] = float(cotacao_dolar)
#Alterando a cotação do euro
tabela["Moeda"] == "Euro"
tabela.loc[tabela["Moeda"] == "Euro", "Cotação"] = float(cotacão_euro)
#Alterando a cotação do ouro
tabela["Moeda"] == "Ouro"
tabela.loc[tabela["Moeda"] == "Ouro", "Cotação"] = float(cotacão_ouro)
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de compra,Margem,Preço de Venda
0,Câmera Canon,345,Dólar,5.429200,1766.40,1,1766.40
1,Câmera Sam,432,Euro,5.929501,2656.80,4,10627.20
2,Iphone 12,456,Dólar,5.429200,2334.72,2,4669.44
3,Iphone 8,4332,Dólar,5.429200,22179.84,3,66539.52
4,Samsung s20,234,Dólar,5.429200,1198.08,2,2396.16
5,Moto g8,455,Dólar,5.429200,2329.60,1,2329.60
6,Lg sk,432,Euro,5.929501,2656.80,4,10627.20
7,Iphone 8,2334,Dólar,5.429200,11950.08,2,23900.16
8,Jóia B,36,Ouro,421.750000,11232.00,3,33696.00
9,Câmera Pro,76,Euro,5.929501,467.40,2,934.80
10,Câmera M,5445,Dólar,5.429200,27878.40,1,27878.40
11,Tv 32 Sam,775,Euro,5.929501,4766.25,4,19065.00
12,Tv 43 Lg,4324,Dólar,5.429200,22138.88,2,44277.76
13,Iphone 8,5764,Dólar,5.429200,29511.68,3,88535.04
14,Jóia A,20,Ouro,421.750000,6240.00,2,12480.00
15,Tv Sam 50,344,Euro,5.929501,2115.60,1,2115.60
16,Tv Sam 60,565,Euro,5.929501,3474.75,4,13899.00
17,Iphone XR,3334,Dólar,5.429200,17070.08,2,34140.16

In [16]:
#Como a coluna preço de compra é a coluna preço original vezes a coluna cotação, precisamos atualiza a coluna preço de compra
tabela["Preço de compra"] = tabela["Preço Original"]*tabela["Cotação"]
#A coluna preço de venda é a coluna preço de compra vezes a coluna margem, também precisamos atualizar a coluna preço de venda
tabela["Preço de Venda"] = tabela["Preço de compra"]*tabela["Margem"]
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de compra,Margem,Preço de Venda
0,Câmera Canon,345,Dólar,5.429200,1873.074000,1,1873.074000
1,Câmera Sam,432,Euro,5.929501,2561.544337,4,10246.177348
2,Iphone 12,456,Dólar,5.429200,2475.715200,2,4951.430400
3,Iphone 8,4332,Dólar,5.429200,23519.294400,3,70557.883200
4,Samsung s20,234,Dólar,5.429200,1270.432800,2,2540.865600
5,Moto g8,455,Dólar,5.429200,2470.286000,1,2470.286000
6,Lg sk,432,Euro,5.929501,2561.544337,4,10246.177348
7,Iphone 8,2334,Dólar,5.429200,12671.752800,2,25343.505600
8,Jóia B,36,Ouro,421.750000,15183.000000,3,45549.000000
9,Câmera Pro,76,Euro,5.929501,450.642059,2,901.284119
10,Câmera M,5445,Dólar,5.429200,29561.994000,1,29561.994000
11,Tv 32 Sam,775,Euro,5.929501,4595.363105,4,18381.452418
12,Tv 43 Lg,4324,Dólar,5.429200,23475.860800,2,46951.721600
13,Iphone 8,5764,Dólar,5.429200,31293.908800,3,93881.726400
14,Jóia A,20,Ouro,421.750000,8435.000000,2,16870.000000
15,Tv Sam 50,344,Euro,5.929501,2039.748268,1,2039.748268
16,Tv Sam 60,565,Euro,5.929501,3350.167941,4,13400.671763
17,Iphone XR,3334,Dólar,5.429200,18100.952800,2,36201.905600

In [18]:
#Agora, com a tabela atualizada, devemos exportá-la de volta para o excel.
#A formtação é melhor fazer no excel, pode exportar assim mesmo.
#Se colocar o mesmo nome do arquivo do excel, o python vai modificar o arquivo original, caso não queira que isso aconteça, 
#é só mudar o nome. Neste caso, vou mudar o nome.
tabela.to_excel("Base Atualizada 2 (1).xlsx")
#Para encontrar no seu computador essa nova tabela, é só pegar o nome dela, neste caso "Base Atualizada 2 (1)", abrir arquivos
#e jogar em "pesquisar em início".